.error {
    color: red;
}
.error.hidden { display: none; }
.dl {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.dl.hidden { display: none; }

.label {
    text-align: center;
    padding-bottom: 10px;
}

.qrcode {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
}